<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    form {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
</head>
<body>
<h1>Tokopididi Lite</h1><br>
<% if(error) {%>
  <b style="color: red;"><%= error %></b>
<%} %>
<% if(errors) {%>
  <% errors.forEach((e) => {%>
    <b style="color: red;"><%= e %></b><br>
  <%}) %>
<%} %>
<h2>Order</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Stock</th>
    <th>Price</th>
  </tr>
      <tr>
        <td><%= findOneProduct.name %></td>
        <td><%= findOneProduct.stock %> </td>
        <td><%= findOneProduct.price %></td>  
      </tr>
</table><br><br>
<form action="/orderform/<%= findOneProduct.id %>" method="post">
  <label for=""><b>Address: </b></label><br>
  <input type="text" name="address" placeholder="Enter Address" value=""><br><br>
  </select><br><br> <label for=""><b>Quantity: </b></label><br>
  <input type="number" name="quantity" placeholder="Enter Quantity" value=""><br><br>
  </select><br><br>
  <input type="submit" value="Buy">
</form>
</body>
</html>
